[Desktop Entry]
Type=Application
Version=1.0
Name=Plot viewer files
NoDisplay=true
Exec={PYTHON} -m plotter %f
Terminal=true
MimeType=text/plt;
Name[en_IN]=plotter.desktop
